configuration {
    font: "Cascadia Code 11";
    line-margin: 10;

    display-ssh:    "";
    display-run:    "";
    display-drun:   "";
    display-window: "";
    display-combi:  "";
    show-icons:     true;
}


@theme "~/.config/rofi/themes/rounded-nord-dark.rasi"

listview {
    lines: 10;
    columns: 2;
}

window {
    width: 30%;
}

configuration {
    terminal: "xfce4-terminal";
}
