# source: https://bbs.archlinux.org/viewtopic.php?pid=1404973#p1404973
.window-frame, .window-frame:backdrop {
  box-shadow: 0 0 0 black;
  border-style: none;
  margin: 0;
  border-radius: 0;
}
    
.titlebar {
  border-radius: 0;
}
